@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: #c4e2d1;
}

ul {
  list-style: none;
}

div#wrap {
  width: 670px;
  margin: 20px auto;
  border: 1px dotted #aaa;
  background-color: #fff;
}

#headerFrame {
  height: 136px;
  padding: 4px 30px;
  text-align: center;
  background-color: #02261e;

  position: relative;
}

#header h1 {
  padding-right: 8px;
  color: #fcfcc5;
  font-size: 88px;
  font-weight: bold;
  letter-spacing: -7px;

  position: absolute;
  left: 50px;
}

#header p {
  font-size: 32px;
  height: 120px;
  line-height: 140px;
  color: #8fa328;
  font-weight: bold;
  letter-spacing: -2px;

  position: absolute;
  top: 13px;
  left: 300px;
}

#header span {
  font-size: 50px;
}

#header h2 {
  color: #a0ab9e;
  font-size: 62px;
  height: 120px;
  line-height: 100px;

  position: absolute;
  top: 24px;
  right: 40px;
}

#main {
  position: relative;
}

#gnb {
  width: 150px;
  height: 590px;
  padding: 16px 20px;
  margin-right: 25px;
  background-color: #a8b49e;
}

#gnb li a {
  font-size: 15px;
  line-height: 38px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

#gnb li a:hover {
  color: #486032;
}

div#contents {
  width: 518px;

  position: absolute;
  top: 0;
  right: 0;
}

div#contents h3.title {
  color: #c1bc40;
  font-size: 23px;
  font-family: 궁서체;
  padding: 12px 24px;
  background-color: #472006;
}

div#contents .article p {
  font-size: 17px;
  font-weight: bold;
  text-align: justify;
  padding: 25px;
}

#footer {
  background-color: #81957c;
  padding: 12px 26px;
  font-size: 16px;
  color: #000;
}
